* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Anton', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
}

nav {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 20px #cdcdcd;

  .create-post {
    padding: 1rem;
    border-radius: 0.75rem;
    border: none;
    background-color: #219ebc;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255);
    &:hover {
      background-color: #1e89a3;
    }
  }
}

form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 0.25rem;

  label {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  input[type='text'] {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b6b6b6;
  }

  textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b6b6b6;
    resize: none;
    font: inherit;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .form-actions {
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2rem;

    .post {
      font-size: inherit;
      padding: 1rem;
      border-radius: 0.75rem;
      border: none;

      cursor: pointer;
      color: rgba(255, 255, 255);
      background-color: #219ebc;
      &:hover {
        background-color: #1e89a3;
      }
    }

    .cancel {
      padding: 1rem;
      border-radius: 0.75rem;
      text-decoration: none;
      background-color: rgb(238, 238, 238);
      color: rgb(46, 46, 46);

      &:hover {
        background-color: rgb(218, 218, 218);
      }
    }
  }
}

.messages {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 3rem 3rem 4rem 3rem;
  border-radius: 1rem;
  border-left: 1rem solid #ffb703;

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .user-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .user {
      color: rgba(0, 0, 0, 0.85);
    }

    .date {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
